* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1024px;
    margin: 0 auto;
}
.nav__items {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
}
