* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background-color: #e6e6e6;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px
}

.container {
    width: 1024px;
    margin: 0 auto;
}
.nav__items {
    display: flex;
    justify-content: space-between;
}
.nav__item a {
    color: aliceblue;
    line-height: 65px;
    text-decoration: none;
    font-size: 24px
}

.nav__item a:hover {
    color: #e06b25;

}

.d-flex {
    display: flex;
}

.left-column {
    margin: 20px;
    margin-top: 20px;

}

.right-column {
    background: white;
    padding: 20px;
    margin-top: 10px;
    margin: 20px;
}

header {
    background: #5b9245;
    height: 65px;
}


.name {
    font-size: 40px;
    text-align: center;
}
.contacts__item {
    margin-bottom: 5px;
}

.contacts__item a, .example__link {
    text-decoration: none;
}

.section__title {
    text-align: center;
    background: #5b9245;
    color: white;
    padding: 6px;
    font-size: 34px;
    cursor: default;
}


.right-column section {
    margin-top: 40px;

    box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.71);
}

.section__text {
    padding: 20px;
}

.self-education__item {
    margin-left: 10px;
    margin-bottom: 9px;
}