* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background-color: #e6e6e6;
}

.container {
    width: 1024px;
    margin: 0 auto;
}
.nav__items {
    display: flex;
    justify-content: space-between;
}
.nav__item a {
    color: aliceblue;
    line-height: 45px;
    text-decoration: none;
}

.nav__item a:hover {
    color: blueviolet;

}

.d-flex {
    display: flex;
}

.left-column {
    margin: 20px;
    margin-top: 20px;

}

.right-column {
    background: white;
    padding: 20px;
    margin-top: 10px;
    margin: 20px;
}

header {
    background: black;
}

.name {
    font-size: 40px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid grey;
    text-align: center;
}

.right-column section {
    margin-top: 40px;
    padding: 10px;
    border: 1px solid black
}